%buttonStyles {
  text-align: center;
  width: 100%;
  height: 45px;
  padding: 0 6px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}


.buttonGreen {
  @extend %buttonStyles;
  background: #64C641;
  box-shadow: 0px 30px 20px -20px rgba(100, 198, 65, 0.6);
  color: #FFFFFF;

  &:hover {
    background: #3aaf13;
  }
}



.buttonBlue {
  @extend %buttonStyles;
  background: #577399;
  color: #FFFFFF;

  &:hover {
    background: rgba(31, 86, 148, 0.6);
  }
}


.buttonExit {
  display: inline-flex;
  align-items: center;
  & span {
    margin-left: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #000000;
  }
  &__icon {
    & img {
      width: 80%;
    }
  }

  &:hover {
    cursor: pointer;
    & span {
      text-decoration: underline;
    }
  }
}


.buttonLogin {
  @extend %buttonStyles;
  //background: #865B38;
  background: #9D764F;
  //background: #B59369;
  color: #FFFFFF;

  &:hover {
    background: rgb(181, 148, 105);
  }
}